<div id="forex">

    <div class="container container--flex--column">
        <div class="updatedate ">
            <label *vjmodel="updatedate"> Last update time: {{ldate}}            </label> Live
            <button *vj:click="changeLive()">{{live}}</button>
        </div>
        <div class=" symboldiv ">

            <input *vj:change="changeSearch()" type="search" /><br> <select *vj:change="changeFigure()" class="select ">
                <option *vjmodel='figures' class="{{visible}}" value="{{symbol}}">{{description}}
                </option>
            </select>
            <br>
            <div *vjmodel="figure" class="symboltemplate ">
                <label>Symbol</label>
                <label>{{symbol}}</label><br>
                <label>Type</label>
                <label>{{categoryName}}</label><br>
                <label>Description</label>
                <label>{{description}}</label><br>
                <label>High</label>
                <label class="{{high_color}}">{{high}} {{currency}}</label><br>
                <label>Ask</label>
                <label class="{{ask_color}}">{{ask}} {{currency}}</label><br>
                <label>Bid</label>
                <label class="{{bid_color}}">{{bid}} {{currency}}</label><br>
                <label>Low</label>
                <label class="{{low_color}}">{{low}} {{currency}}</label><br>
                <label>Time</label>
                <label>{{timeString}}</label>
                <br>
            </div>


        </div>


    </div>
</div>